body {
    color: rgb(255, 255, 255);
    background: black;
    margin: 2px;
}
header {
    border-bottom: solid 2px rgb(95,228,42);
    padding: 20px;
    font-size: 40px;
    color: rgb(228, 42, 203);
}
section {
    background: rgb(42, 200, 228);
    padding-bottom: 80px;
    padding-top: 80px;
}